* {
 box-sizing: border-box;
}

.clearfix:after {
   content:"";
   display:block;
   clear:both;
}

body {
 text-align: center;
 width: 50em;
 border: 1px solid black;
 margin: 1em auto;
}

.content {
 background-color: #CCC;
 border: 1px solid #666;
 margin:auto;
}

header, footer {
 height: 5em;
 margin: 1em;
}

div.left-content {
 width: 30em;
 float: left;
 height: 15em;
 margin-left: 1em;
}

div.right-content {
 width: 23%;
 float: right;
 height: 15em;
 margin-right: 1em;  
}
div.right2-content {
 width: 47%;
 float: right;
 height: 15em;
 margin-right: 1em;  
}

div.center-content{

}