.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body{
  margin: 0 5em;
}

h1{}
h2{}
h3{}
h4{}
.logo{
  background-color:yellow;
  float: left;
  width: 30%;
  height: 100px;
}
.menu{
  background-color: black;
  width: 70%;
  display:inline-block;
}
.menu li{
    border: 1px solid red;
    display: inline-block;
}
.menu ul{
  float: right;
}

#hero{
  background-color: blue;
  height:38em;
  width: 100%;
}
.3colproduct{
  display: inline;
  width: 33%;
  background-color:red;
}

.logo .footer{
  float:left;
}
.social{
  float:right;
}
#copyright{}
